#cards,
#start-button,
#deal-bank,
#chips {
  display: flex;
}

.cards {
  min-height: 1.2rem;
  display: flex;
  font-weight: 600;
  width: 1.2rem;
  justify-content: space-between; /* A két szélre tolja őket */
  align-items: center;
}

.deck-count {
  display: inline-block;
  min-width: 1.2rem; /* Elég hely 3 karakternek (100) */
  text-align: right; /* A szám a saját blokkján belül jobbra igazodik */
  margin-left: 0.5rem; /* Ez a "kis távolság" a szöveg és a szám között */
}

.betting-screen-container {
  padding-top: var(--extra-vertical-padding1);
}

.deal-bank {
  padding-top: var(--extra-vertical-padding05);
}

.bank {
  display: flex; /* Flexbox használata a belső elemek (pl. a nyertes üzenet) elrendezéséhez */
  align-items: flex-start; /* Függőlegesen az elem tetejére igazítja a tartalmat */
  text-align: left; /* A szöveget az elemen belül balra igazítja */
  justify-content: flex-start;
  font-size: clamp(1.2rem, 1.2vw, 1.8rem);
  font-weight: 500;
  padding-top: var(--extra-vertical-padding1);
}

.bank1 {
  display: flex; /* Flexbox használata a belső elemek (pl. a nyertes üzenet) elrendezéséhez */
  align-items: flex-start; /* Függőlegesen az elem tetejére igazítja a tartalmat */
  text-align: left; /* A szöveget az elemen belül balra igazítja */
  justify-content: flex-start;
  font-size: clamp(1.2rem, 1.2vw, 1.8rem);
  font-weight: 500;
}

.bet-bank {
  display: flex; /* Flexbox használata a belső elemek (pl. a nyertes üzenet) elrendezéséhez */
  align-items: flex-start; /* Függőlegesen az elem tetejére igazítja a tartalmat */
  text-align: left; /* A szöveget az elemen belül balra igazítja */
  justify-content: flex-start;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  font-weight: 500;
}

/* Példa: Ha láthatóvá akarod tenni a Deal Bank szekciót egy bizonyos állapotban */
/* Ezt egy React komponenssel vagy JavaScripttel adnád hozzá az elemhez */
/* .deal-bank.active {
  display: flex;
} */

/* Példa: Láthatóvá tesszük a chips szekciót */
/* .chips.active {
  display: flex;
} */
